# 가상환경 폴더
venv/
env/
ENV/
.venv/
.env/
key/

# Python 캐시 파일
__pycache__/
*.py[cod]
*$py.class

# 설치된 패키지
*.egg
*.egg-info/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pypackages__/

# 운영체제별 파일
.DS_Store
Thumbs.db

# IDE 설정 파일
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 기타
*.spec
*.log