.cursor {
    cursor: pointer;
}

.noblock {
    user-select: none;
}

.nowrap {
    white-space: nowrap;
}

.inline_block {
    display: inline-block;
}

.hide {
    display: none;
}

.white-background {
    background-color: white;
}

.top_margin {
    margin-top: 10px;
}

.left_margin {
    margin-left: 5px;
}

.margin {
    margin: 5px;
}

.no-margin-vertical {
    margin-top: 0;
    margin-bottom: 0;
}

.no-padding-vertical {
    padding-top: 0;
    padding-bottom: 0;
}

.no_padding_margin {
    margin: 0;
    padding: 0;
}

.icon_style {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.icon_style.active {
    border-color: red;
}

.icon_style-small {
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    margin: 3px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.itemsButton {
    margin-right:10px;
}

.group {
    margin-bottom: 20px;
    margin-right: 5px;
}

img {
    background-color: black;
    height: 100%;
    width: 100%;
}

#icon-list img {
    height: 100px;
    width: 100px;
}
.faction_img {
    display: inline-block;
    vertical-align:sub;
    background-color: transparent;
    height: 40px;
    width: 40px;
    margin-right:3px;
}

.faction_img.small {
    height: 30px;
    width: 30px;
    margin-right:2px;
}

#targetImg {
    width: 475px;
    height: 275px;
}

.targetImg_width {
    width: 475px;
}

.header {
    height: 50px;
    margin:0px;
    margin-left: 5px;
    padding: 0;
}

.button {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px; /* 고정 높이 */
}

.button.blue {
    background-color: #3498db;
    color: white;
}
.button.blue:hover {
    background-color: #2980b9;
}

.button.green {
    background-color: #1f9423;
    color: white;
}
.button.green:hover {
    background-color: #195715;
}

.button.red {
    background-color: #fe7070;
    color: white;
}
.button.red:hover {
    background-color: #b92929;
}

.button.yellow {
    background-color: #fcfe70;
    color: black;
}
.button.yellow:hover {
    background-color: black;
    color: #fcfe70;
}

.button.black {
    background-color: #000000;
    color: white;
}
.button.black:hover {
    background-color: #a1a1a1;
}

.button.list {
    background-color: #888888;
    color: white;
    transition: background-color 0.3s;
}
.button.list:hover {
    background-color: #555555;
}

#goto_github_button {
    padding: 0;
    height: 40px;
    width: 40px;
}

#goto_github_button img {
    background-color: transparent;
    height: 24px;
    width: auto;
}

summary {
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

figure {
    margin: 5px;
    width: 100px;
    cursor: pointer;
    display: inline-block;
}

figcaption {
    text-align: center;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 210px;
    font-size: 16px;
}

#itemList {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

#itemList li {
    margin-bottom: 40px;
}
