h1 {
    margin: 5px;
}

.group {
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 5px;
    white-space: nowrap;
}

#group-container {
    white-space: nowrap;
    margin-top: 15px;
}

.icons {
    display: none;
}

#icon-list {
    width: 50%;
}

.toggle {
    cursor: pointer;
}

img {
    background-color: black;
    height: 100px;
    width: 100px;
}

#targetImg {
    width: 475px;
    height: 165px;
}

.header {
    height: 50px;
    margin: 0;
    padding: 0;
}

.empty-icon {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.empty-icon.active {
    border-color: red;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button.blue {
    background-color: #3498db;
    color: white;
}
.button.green {
    background-color:#70fe75;
    color: white;
}
.button.red {
    background-color:#fe7070;
    color: white;
}
.button.blue:hover {
    background-color: #2980b9;
}
.button.green:hover {
    background-color: #33b929;
}
.button.red:hover {
    background-color: #b92929;
}

.button.list {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #888888;
    color: white;
    transition: background-color 0.3s;
}

.button.list:hover {
    background-color: #555555;
}

figure {
    margin: 5px;
    width: 100px;
    cursor: pointer;
    display: inline-block;
}

figcaption {
    text-align: center;
}

.white-background {
    background-color: white;
}

input[type="text"] {
    margin-top: 25px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 210px;
    font-size: 16px;
}

#bump {
    margin: 0;
    padding: 0;
}

.no-margin-vertical {
    margin-top: 0;
    margin-bottom: 0;
}

.no-padding-vertical {
    padding-top: 0;
    padding-bottom: 0;
}

@media screen and (max-width: 767px) {
    #icon-list {
        width: 100%;
    }
}