h1 {
    margin: 5px;
}
.items_margin {
    margin: 5px;
}

.itemsButton {
    margin-right:10px;
}

.group {
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 5px;
    white-space: nowrap;
}

.icons {
    display: none;
}

#icon-list {
    width: 50%;
}

.toggle {
    cursor: pointer;
}

img {
    background-color: black;
    height: 100px;
    width: 100px;
}

#targetImg {
    width: 475px;
    height: 165px;
}

.targetImg_style {
    width: 475px;
}

.header {
    height: 50px;
    margin: 0;
    padding: 0;
}

.empty-icon {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.empty-icon_style {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.empty-icon.active {
    border-color: red;
}

#group-container-checkbox {
    white-space: nowrap;
    margin-top: 10px;
}

#group-container-buttons {
    white-space: nowrap;
    margin-top: 10px;
}

#group-container-selections {
    white-space: nowrap;
    margin-top: 10px;
}

.button {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px; /* 고정 높이 */
}

.button.blue {
    background-color: #3498db;
    color: white;
}

.button.green {
    background-color: #1f9423;
    color: white;
}

.button.red {
    background-color: #fe7070;
    color: white;
}

.button.black {
    background-color: #000000;
    color: white;
}

.button.blue:hover {
    background-color: #2980b9;
}

.button.green:hover {
    background-color: #195715;
}

.button.red:hover {
    background-color: #b92929;
}

.button.black:hover {
    background-color: #a1a1a1;
}

#goto_github_button {
    padding: 0; /* 패딩 제거 */
    height: 40px;
    width: 40px;
}

#goto_github_button img {
    background-color: transparent;
    height: 24px;
    width: auto;
}

.button.list {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #888888;
    color: white;
    transition: background-color 0.3s;
}

.button.list:hover {
    background-color: #555555;
}

figure {
    margin: 5px;
    width: 100px;
    cursor: pointer;
    display: inline-block;
}

figcaption {
    text-align: center;
}

.white-background {
    background-color: white;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 210px;
    font-size: 16px;
}

#bump {
    margin: 0;
    padding: 0;
}

.no-margin-vertical {
    margin-top: 0;
    margin-bottom: 0;
}

.no-padding-vertical {
    padding-top: 0;
    padding-bottom: 0;
}

details {
    user-select: none;
}

summary {
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

#itemList {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

#itemList li {
    margin-bottom: 40px;
}
